* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.principal-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 18% 4% auto 8%;
    height: 100vh;
    grid-template-areas:
        "navbar"
        "hero"
        "categorias"
        "catalogo"
        "footer"
    ;
}

/*Navbar*/

.navbar-content {
    grid-area: navbar;
    background-color: #008080;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.nav-links {
    display: none;
}

.logo-nav {
    height: 2.5rem;
}

/*Hero*/

.hero-content {
    grid-area: hero;
    background-image: url(../img/Hero.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.hero-content h1 {
    font-size: 15px;
    font-weight: 300;
}

.hero-content h1 span {
    font-weight: 800;
}

/*Categorias*/
.menu-content {
    grid-area: categorias;
    background-color: #ececec;
}

.nav-tabs {
    font-size: 12px;
}

/*Catalogo*/

.catalogo-content {
    grid-area: catalogo;
    height: 100%;
    overflow: auto;
}

.card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 15px;
}

.card-body {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.card-body h5 {
    font-size: 12px;
    font-weight: 800;
}

.btn-card {
    background-color: #008080;
    font-size: 12px;
}

/*Card Transition-Transform*/
.card:hover {
    transform: scale(1.03);
}

.card img {
    filter: brightness(0.9);
    transition: filter 0.3s ease;
}

.card img:hover {
    filter: brightness(1.1);
}


/*Footer*/

.footer-content {
    grid-area: footer;
    background-color: #008080;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;

}

.texto_footer {
    font-size: 10px;
    font-weight: 400;
    color: white;
    padding-left: 10px;
    margin: 0;
}

.footer_bold {
    font-weight: 700;
    color: white;
}

.titulo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-footer img {
    height: 100%;
}

.footer-icon a img {
    height: 20px;
    padding-left: 10px;
}

.footer-icon {
    display: flex;
    align-items: center;
}

@media (min-width: 576px) {

    .principal-grid {
        display: grid;
        grid-template-columns: 1fr 8fr;
        grid-template-rows: 30% 4% auto auto 8%;
        height: 100vh;
        grid-template-areas:
            "navbar hero"
            "navbar categorias"
            "navbar catalogo"
            "navbar catalogo"
            "navbar footer"
        ;
    }

    /*Navbar*/

    .navbar-content {
        background-color: #008080;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 100px 20px;
        box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.3);
        z-index: 2;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding-top: 60px;
        text-align: center;
    }

    .nav-link {
        color: white;
        font-weight: 400;
        font-size: 20px;
    }

    .logo-nav {
        height: 4rem;
    }

    .menu {
        display: none;
    }

    /*Hero*/

    .hero-content {
        padding: 0 100px;
    }

    .hero-content h1 {
        font-size: 35px;
    }

    /*Categorias*/

    .link-cat {
        font-size: 15px;
    }

    .card-content {
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
        padding: 20px;
    }

    /*Catalogo*/
    .card-body h5 {
        font-size: 15px;
    }

    .btn-card {
        font-size: 14px;
    }

    /*Footer*/

    .footer-content {
        padding: 10px 50px;

    }

    .texto_footer {
        font-size: 14px;
        padding-left: 20px;
    }

    .titulo-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titulo-footer img {
        height: 100%;
    }

    .footer-icon {
        display: flex;
        align-items: center;
    }

    .footer-icon a img {
        height: 30px;
        padding-left: 20px;
    }
}